name: Build
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: current
      - run: npm install
      - run: npm run format
      - run: npm run lint
      - name: Ensure Clean Tree
        run: git diff --quiet --exit-code
      - run: npm run cover
